body {
    background: #1d809f;
}


header a:hover{
    color: #fafafa;
}

#bg-img
{
    background: url('../img/home-bg_tmp.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#about{
    margin-top: 30px;
}

#about .fa-facebook{
    color:#6395e0;
}
#about .fa-pinterest{
    color: #ec6161;
}
#about .fa-github{
    color:#fafafa;
}

#gallery{
    margin: 5px 50px;
    margin-top: 75px;
}
#gallery img{
    transition: 1s;
    margin: 20px;

}
#gallery img:hover{
    filter: grayscale(70%);
    transform: scale(1.05);
}

footer{
    margin-top: 25px;
    padding-top: 10px;
    background: #545657;
    color: #f7f4f4;
}

#blog {
    margin-top: 100px;
}

#blog .row {
    margin-bottom: 50px;
}

.single-blog
{
    background-color: #eff7fc;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    padding: 10px;
}

.single-blog span{
    float: right;
    font-size: 12px;
    color: cornflowerblue;
}

.blog-text
{
    font-size: 14px;
    text-align: justify;
}

.single-blog h3{
    margin-top: 10px;
    font-size: 16px;
    color: #225463;
}

#contact{
    margin: 70px;
    color:  #eff7fc;
}

#contact a{
    color: #ecc24f;
}

th img{
    margin-left: 10px;
}

#more_cats{
    margin-top:50px; 
}
